* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui;
}
:root{
    --my_black: rgb(20, 20, 20);
    --my_red: rgb(255, 60, 60);
}

.nav {
    background-color: var(--my_black);
}

.nav-ul {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.nav-li {
    list-style-type: none;
}

.nav-li-a {
    color: white;
    text-decoration: none;
    display: inline-block;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 50px;
    padding: 0 30px;
    font-weight: 500;
}

.nav-li-a:hover {
    background-color: var(--my_red);
    color: rgb(20, 20, 20);
    border-top: none;
    border-bottom: none;
    font-weight: 500;
    transition: background-color 300ms;
}

.active{
    border-bottom: 5px solid var(--my_red);
    border-top: 5px solid var(--my_black);
}

.flex-row-center{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.my-3{
    margin: 1rem 0;
}