<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>Using plain html in Pug</title> -->
    <title>#{title}</title>

    style
        include ../public/styles.css

</head>
<body>
    <nav class="nav">
        <ul class="nav-ul">
            <li class="nav-li"><a class="nav-li-a active" href="/">Home</a></li>
            <li class="nav-li"><a class="nav-li-a" href="/about">About</a></li>
            <li class="nav-li"><a class="nav-li-a" href="/contact">Contact</a></li>
        </ul>
    </nav>
    <div class="mx-2">
        <div class="form-div">
            <h2 class="m-auto text-center my-2">Get this gym membership for 60$ - Fill this form now!</h2>
            <form action="/backend" method="POST" id="contact-form" class="m-auto flex-column-center my-2">
                <input type="text" name="name" id="name" placeholder="Enter your name">
                <input type="text" name="age" id="age" placeholder="Enter your age">
                <input type="text" name="gender" id="gender" placeholder="Enter your gender">
                <textarea name="address" id="address" rows="5" placeholder="Enter your address"></textarea>
                <textarea name="more" id="more" rows="5" placeholder="More about you.."></textarea>
                <div>
                    <button type="submit" class="btn">Submit</button>
                    <button type="reset" class="btn">Reset</button>
                </div>
                
            </form>
        </div>
    </div>
</body>
</html>
